body {
  background-color: #eeeeee;
  color: #030303;
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
}
h1{

}
h2{
color: #FFFFFF;
font-family: 'Muli', sans-serif;
font-weight: 300;
}

header {
  padding: 15px;
  display: flex;
  opacity: 0.8;
  position: fixed;
}
header img{
  width: 15%;
}
ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  margin-left: 150%;
  color: #FFFFFF;
  text-decoration: none;
  width: 100%;

}
li{
  margin-right: 30%;
}
nav ul li a{
  color: #FFFFFF;
  text-decoration: none;
}
.home{
  display: flex;
}
.home img{
  width: 100%;
  z-index: -1;
}
.home h1{
  position: absolute;
  top: 20%;
  left: 40%;
  z-index: 1;
  width: 40%;
  padding: 10%;
  color: #FFFFFF;
}
.home h2{
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: 1;
  width: 40%;
  padding: 10%;
}
.gallery{
display: flex;
align-items: center;
background-color: #030303;
color: #FFFFFF;
padding: 2%;
width: 100%;
}
.gallery img{
  width: 80%;
}

footer{
  padding: 3%;
  background-color: #030303;
  color: #FFFFFF;
}

p {
  margin: 0 15px;
  width: 50%;
}
